<button {{action 'onOpenPopupHandler'}}>{{ buttonLabel }}</button>

{{#if showPopup}}
    <div class="popup">
        <button
            {{action 'onClosePopupHandler'}}
            class="popup--close">закрыть</button>
        <span class="popup--gruid">{{ GRUID }}</span>
    </div>
{{/if}}