<div class="more-activities">
    <p>{{ label }}</p>
    <select {{action 'onClickHandler'}} class="more-activities--select">
        <option value="" selected disabled hidden>Выбрать одну из</option>
    </select>
</div>