{{#if showFirst}}
    <div class="access-popup white-popup">
        <p class="goog-message">Был произведен не авторизованный доступ к секретной информации Мормоно. Для зачистки следов была выслана оперативная группа удаления памяти.</p>
        <div class="flex">
            <button class="close" {{action 'showSecondHandler'}}>Закрыть</button>
        </div>
    </div>
{{/if}}

{{#if showSecond}}
    <div class="access-popup white-popup">
        <p class="goog-message">Операция по зачистке прошла успешно</p>
        <div class="flex">
            <button class="close" {{action 'hideSecondHandler'}}>Закрыть</button>
        </div>
    </div>
{{/if}}

