<div>Список активных демиургов</div>

<iframe src="https://telescope.epam.com/search/people?h=eyJjYXRhbG9nIjoicGVvcGxlIiwiZW50aXR5VHlwZSI6Im1ldGE6cGVvcGxlLXN1aXRlOnBlb3BsZS1hcGk6Y29tLmVwYW0uZTNzLmFwcC5wZW9wbGUuYXBpLmRhdGEucGx1Z2dhYmxlLkVtcGxveWVlRW50aXR5IiwidGV4dCI6Im9mZmljZTpcIkdvZ29seWEgc3RyLiwgMTZcIiIsImZhY2V0cyI6e30sInN0YXJ0IjowLCJsaW1pdCI6MTAsInNvcnRpbmciOm51bGwsInVubW9kaWZpYWJsZVF1ZXJ5IjpmYWxzZX0=" frameborder="0"></iframe>
{{#link-to 'cms'}}
  <button>goto cms</button>
{{/link-to}}