<div>cms</div>
{{#link-to 'main'}}
  <button>goto main</button>
{{/link-to}}

<div>
{{#link-to 'cms.log'}}
  <button>goto log</button>
{{/link-to}}
</div>
<div>
{{#link-to 'cms.qa_plan'}}
  <button>qa_plan</button>
{{/link-to}}
</div>
<div>
{{#link-to 'cms.do_well'}}
  <button>do_well</button>
{{/link-to}}
</div>
<div>
{{#link-to 'cms.demiurge'}}
  <button>demiurge</button>
{{/link-to}}
</div>
<div>
{{#link-to 'cms.Judgment_bottom'}}
  <button>Judgment_bottom</button>
{{/link-to}}
</div>
<div>
{{#link-to 'cms.improvments_list'}}
  <button>improvments_list</button>
{{/link-to}}
</div>
<div>
{{#link-to 'cms.recommended_sites'}}
  <button>recommended_sites</button>
{{/link-to}}
</div>
<div>
{{#link-to 'cms.activists_journal'}}
  <button>activists_journal</button>
{{/link-to}}
</div>
