<div class="wrap">
    <h1 class="title">Срочный договор подряда на подряд на работу работы бумагомарателя.</h1>

    <div class="contract">
        <p class="contract__text">
            Я, человек, амфибия, камушек, мелкое божество, архимаг санузла (нужное выбрать), далее как <span
            class="contract--line-through">расходный материал</span> "черезвычайно важный" кадр, согласившийся в
            добровольно-принудительном порядке, обязуюсь организовать жизнедеятельность* сущности (величайшего
            костылеприменителя, несравненного велосипедостроителя, абсолютного фичестрадателя, его высокопродоронятельство
            скарабея релизокатателя семиустного) в мультивселенной CLOSEт, доступ предоставляется одноразово работодателем
            Mr. Box Grey the 50th.
        </p>

        {{#link-to 'cms'}}
            <button class="contract--confirm">Сдаться в рабство на 15 минут (или около того)</button>
        {{/link-to}}
    </div>

    <div class="points">
        <h2 class="points__title">Под организаций жизнедеятельности понимается:</h2>
        <ol>
            <li>зарегистрировать в журнале судного дна</li>
            <li>добавить в журнал активных пакостников жизнедеятельности</li>
            <li>сделать хорошо</li>
        </ol>
    </div>
</div>