<div class="wrap">
  <h1 class="title">Срочный договор подряда на подряд на работу работы бумагомарателя.</h1>

  <div class="contract">
    <p class="contract__text">
      Я, человек, амфибия, камушек, мелкое божество, архимаг санузла (нужное выбрать), далее как расходный материал  "черезвычайно важный" кадр, согласившийся в добровольно-принудительном порядке,  обязуюсь организовать жизнедеятельность сущности (величайшего костылеприменителя, несравненного велосипедостроителя, абсолютного фичестрадателя, его высокопродоронятельство скарабея релизокатателя семиустного) в мультивселенной CLOSEт, доступ предоставляется одноразово работодателем Mr. Box Grey the 50th.
    </p>
    <div class="points">
      <h2 class="points__title">Под организаций жизнедеятельности понимается:</h2>
      <ol>
        <li>зарегистрировать в журнале судного дна</li>
        <li>добавить в журнал активных пакостников жизнедеятельности</li>
        <li>сделать хорошо</li>
      </ol>
    </div>

    {{#link-to 'cms'}}
      <button class="contract__confirm">в рабство на 15 минут (местами)</button>
    {{/link-to}}
  </div>
</div>

